/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background: url('img/rm383-14.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

/* Contenedor principal */
.container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.6);
}

/* Logo */
.logo {
    width: 200px;
    margin-bottom: 15px;
}

/* Botón principal de radio */
.radio-btn {
    font-family: 'Press Start 2P', cursive; /* tipografía retro */
    background: linear-gradient(90deg, #d80e6f, #ffec08);
    border: none;
    padding: 15px;
    margin: 10px 0;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

/* Otros botones */
.btn {
    font-family: 'Press Start 2P', cursive; /* tipografía retro */
    display: block;
    padding: 15px;
    margin: 10px 0;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* Botones personalizados */
.facebook-btn {
    background: linear-gradient(90deg, #3b5998, #1e3c72);
}

.youtube-btn {
    background: red;
}

.remixes-btn {
    background: linear-gradient(90deg, #4facfe, #3e50ff);
}

/* Footer */
.footer {
    margin-top: 20px;
    font-size: 12px;
    text-shadow: 1px 1px 3px black;
}

.titulo {
    font-size: 8px;
    font-family: 'Press Start 2P', cursive;
    margin: 15px 0;
}
